body {
	margin: 0;
	padding: 0;
}

.map {
	position: relative;
	text-align: center;
}

svg {
	position: absolute;
	top: 0;
	left: 0;
	height: 99.6%;
	width: 100.9%;
}

path {
	opacity: .4;
	fill: blue;
	cursor: pointer;
	transition: .3s;
}

path:hover {
	opacity: .8;
	transition: .3;
}

path:active {
	opacity: .8;
	transition: .3;
}

.btnDown {
    background-color: #8A2BE2; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size: 16px;
	transition: .3s;
}

.btnDown:hover {
	cursor: pointer;
	background-color: #691bb3;
	transition: .3s;
}

.btnUp {
    background-color: #2ba8e2; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size: 16px;
	transition: .3s;
}

.btnUp:hover {
	cursor: pointer;
	background-color: #2b6be2;
	transition: .3s;
}

.title {
	text-align: center;
	font-size: 24px;
}