body {
	margin: 0;
	padding: 0;
}

/* Карта */

.map {
	position: relative;
	text-align: center;
}

.map img {
	width: 100%;
	max-width: 100%;
	display: block;
}
  

svg {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 99.8%;
	min-width: 100%;
}

path {
	opacity: .4;
	fill: #4c87af;
	cursor: pointer;
}

path:hover {
	fill: #af4c4c;
	transition: .3s;
}

path:active {
	opacity: .8;
	transition: .3;
}

.title {
	text-align: center;
	font-size: 24px;
}

/* Кнопки */

#floorNext {
	position: relative;
	float: right;
}

#floorPrevious {
	position: relative;
	float: left;
}

#floorNext input{
	background-color: #ffffff;
    border: none;
	color: rgb(0, 0, 0);
	border: 2px solid #4c87af;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
	cursor: pointer;
}

#floorNext input:hover{
	background-color: #4c87af;
	color: rgb(255, 255, 255);
	transition: .3s;
}

#floorPrevious input{
	background-color: #ffffff;
    border: none;
	color: rgb(0, 0, 0);
	border: 2px solid #af4c4c;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
	cursor: pointer;
	transition: .3s;
}

#floorPrevious input:hover{
	background-color: #af4c4c;
    border: none;
	color: rgb(255, 255, 255);
	border: 2px solid #af4c4c;
	cursor: pointer;
	transition: .3s;
}