body {
	margin: none;
	/**
    * Для эксплорера
    */
	-ms-user-select: none;

	/**
	* Для мозилы
	*/
	-moz-user-select: none;
 
	 /**
	* Для конкверора
	*/
	-khtml-user-select: none;
 
	/**
	* Для Сафари и Хрома
	*/
	-webkit-user-select: none;
	margin: 0px;
}

/* Карта */

.map {
	height: 1080px;
	width: 1920px;
	min-width: 100%;
	min-height: 100%;
	margin: 0 auto;
	position: relative;
}

svg {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 99.8%;
	min-width: 100%;
}

path {
	opacity: .4;
	fill: #4c87af;
	cursor: pointer;
}

path:hover {
	fill: #af4c4c;
	transition: .3s;
}

.title {
	text-align: center;
	font-size: 24px;
}

.map path:hover, #hover {
	fill: #af4c4c;
}

/* Информация */

.info-item {
	position: absolute;
	cursor: default;
}
.title-info {
	text-align: center; 
	font-weight: bold;
}
.info-name {
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	line-height: 15px;
	cursor: pointer;
}
.info-popup {
	font-family: Arial, Helvetica, sans-serif;
	display: none;
	border: 1px solid #777;
	padding: 10px;
	width: 250px;
	height: 250px;
	position: absolute;
	font-size: 14px;
	line-height: 16px;
	background: #fff;
	z-index: 9999;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	text-align: left;
	overflow-y: auto;
}

.photo {
	border-radius: 10px;
	width: 100%;
	height: 100%;
	display: block;
	margin: auto;
}

/* Полоса прокрутки */

::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #999999;
}

/* Навигация */

ul {
	list-style-type: none;
	position: absolute;
	right: 0%;
	top:50%;
	margin: -15% 0 0 -25%;
	padding: 0;
	max-width: 500px;
	min-width: 200px;
	background-color: #f1f1f1;
	z-index: 9999;
}
  
li a {
	display: block;
	color: #000;
	padding: 25px 32px;
	text-decoration: none;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
}
  
  /* Change the link color on hover */
li a:hover {
	background-color: #4c87af;
	color: white;
}

li a.active {
	background-color: #4c87af;
	color: white;
}

/* Кнопки

#floorNext {
	position: relative;
	float: right;
}

#floorPrevious {
	position: relative;
	float: left;
}

#floorNext input{
	background-color: #ffffff;
    border: none;
	color: rgb(0, 0, 0);
	border: 2px solid #4c87af;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
	cursor: pointer;
}

#floorNext input:hover{
	background-color: #4c87af;
	color: rgb(255, 255, 255);
	transition: .3s;
}

#floorPrevious input{
	background-color: #ffffff;
    border: none;
	color: rgb(0, 0, 0);
	border: 2px solid #af4c4c;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
	cursor: pointer;
	transition: .3s;
}

#floorPrevious input:hover{
	background-color: #af4c4c;
    border: none;
	color: rgb(255, 255, 255);
	border: 2px solid #af4c4c;
	cursor: pointer;
	transition: .3s;
} */